<div id="post-review-like">
  <% if review_liked?(review) %>
    <%= link_to spot_review_like_review_path(spot, review, like_review), method: :delete, id: "remove-review-like", remote: true do %>
      <span>Good!</span>
      <i id="remove-review-like-btn" class="fa-solid fa-thumbs-up liked"></i>
    <% end %>
  <% else %>
    <%= link_to spot_review_like_reviews_path(spot, review), method: :post, id: "add-review-like", remote: true do %>
      <span>Good!</span>
      <i id="add-review-like-btn" class="fa-solid fa-thumbs-up"></i>
    <% end %>
  <% end %>
  <span><%= review.like_reviews.size %></span>
</div>
