<div id="post-review-like">
  <% if current_user.present? %>
    <% if review_posted_by_another?(review) %>
      <%= render "like_reviews/shared/like_review_button", review: review, like_review: like_review %>
    <% else %>
      <span>Good!</span>
    <% end %>
  <% else %>
    <%= link_to "Good!", new_user_session_path %>
  <% end %>
  <span><%= review.like_reviews.size %></span>
</div>
