<div class="container">
  <div class="main-contents-wrap">
    <%= render "shared/page_link", link_hash: { "スポットのページへ戻る": spot_path(@spot) } %>
    <div class="edit-spot-register-form-wrap">
      <h2 class="edit-spot-main-title title is-5"><i class="fa-solid fa-pencil"></i>スポット登録内容の変更</h2>
      <%= render "spots/shared/register_form", url: edit_confirm_spot_path(@spot), method: :patch %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "spots/edit" %>
<%= stylesheet_pack_tag "spots/edit" %>
