<h1>新しいお出かけスポットを登録</h1>

<%= render "shared/error_messages", resource: @spot_register_form %>
<%= render "spots/shared/form", url: new_confirm_spots_path, method: :post %>
<%= render "spots/shared/map_display", file: "spot/map_search_address" %>
