// ヘッダータブ
.review-tab-label a {
  background-color: #fff;
  border: 1px solid #dbdbdb !important;
  border-bottom-color: transparent !important;
}

.review-tab-label span {
  color: #ae937a;
}

@media screen and (min-width: 600px) {
  .main-container {
    display: flex;
  }
}

// 右サイドコンテンツ
.right-contents-wrap {
  margin: 1rem;
} @media screen and (min-width: 600px) {
  .right-contents-wrap {
    margin-top: 58px;
    margin-right: 1rem;
  }
}

.new-review-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.new-review-btn a {
  width: 100%;
  height: max-content;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  border-color: #4fc2c5;
  background-color: #4fc2c5;
}
