<div id="post-image-like">
  <% if current_user.present? %>
    <% if image_posted_by_another?(blob) %>
      <%= render "like_images/shared/like_image_button", blob: blob, like_image: like_image %>
    <% else %>
      <span>Cute!</span>
    <% end %>
  <% else %>
    <%= link_to "Cute!", new_user_session_path %>
  <% end %>
  <span><%= get_image_likes_count(blob) %></span>
</div>
