<div id="post-image-like">
  <% if image_liked?(blob) %>
    <%= link_to spot_image_like_image_path(get_parent_image(blob).spot_id, get_parent_image(blob), like_image, blob_id: blob.id), method: :delete, id: "remove-image-like", remote: true do %>
      <span>Cute!</span>
      <i id="add-image-like-btn" class="fa-solid fa-heart-circle-check"></i>
    <% end %>
  <% else %>
    <%= link_to spot_image_like_images_path(get_parent_image(blob).spot_id, get_parent_image(blob), blob_id: blob.id), method: :post, id: "add-image-like", remote: true do %>
      <span>Cute!</span>
      <i id="remove-image-like-btn" class="fa-solid fa-heart-circle-xmark"></i>
    <% end %>
  <% end %>
  <span><%= LikeImage.where(blob_id: blob.id).size %></span>
</div>
