<div id="post-image-like">
  <% if current_user.present? %>
    <% if posted_by_another_user?(blob) %>
      <%= render "like_images/shared/image_like_button", blob: blob, like_image: like_image %>
    <% else %>
      <span>Cute!</span>
    <% end %>
  <% else %>
    <%= link_to "Cute!", new_user_session_path %>
  <% end %>
  <span><%= get_image_likes_count(blob) %></span>
</div>
