<div class="image-like-btn-wrap">
  <% if current_user.present? %>
    <% if image_blob_posted_by_another?(image_blob) %>
      <%= render "image_likes/shared/image_like_button", image_blob: image_blob, image_like: image_like %>
    <% else %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  <% end %>
  <span><%= count_image_blob_likes(image_blob) %></span>
</div>
