.search-result-container {
  display: flex;
  padding-top: 1rem;
}

.main-contents-wrap {
  padding: 0 1rem;
} @media screen and (min-width: 1024px) {
  .main-contents-wrap {
    padding: 0 0 0 3rem;
  }
}

// 検索結果
.search-result-top-wrap {
  margin: 10px 0;
}

@media screen and (min-width: 600px) {
  .search-result-top-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.search-result-title span {
  margin-left: 10px;
  font-size: 15px;
  display: inline-block;
  width: max-content;
}

// スポットレビュー
.ratings-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// 左サイド検索リンク
.side-contents-wrap {
  margin-left: 1rem;
  width: 180px;
} @media screen and (max-width: 900px) {
  .side-contents-wrap {
    display: none;
  }
}

.side-contents-wrap .title span {
  font-size: 1rem;
}

// エリアから探す
.area-search-wrap {
  padding: 1rem;
  background-color: beige;
  border-radius: 8px;
}

.area-search-wrap li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.area-search-wrap img {
  display: none;
}

// マップで探す
.map-links-wrap {
  margin-top: 2rem;
  padding: 1rem;
  background-color: beige;
  border-radius: 8px;
}

.map-links-box {
  position: relative;
  width: 100%;
}

.map-links-box ul {
  width: 100%;
  padding: 1rem;
}

.map-link-btn {
  width: 5rem;
  margin: 5px;
  z-index: 10;
}

.map-links-box-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  height: -webkit-fill-available;
  width: 100%;
}
