<% unless liked?(review) %>
  <td>
    <%= link_to spot_review_like_reviews_path(spot, review), method: :post do %>
      <i class="fa-solid fa-thumbs-up"></i>
    <% end %>
  </td>
<% else %>
  <td>
    <%= link_to spot_review_like_review_path(spot, review), method: :delete do %>
      <i class="fa-solid fa-thumbs-up liked"></i>
    <% end %>
  </td>
<% end %>
<td><%= review.like_reviews.size %></td>
