<div class="post-favorite">
  <% if current_user.present? %>
    <% if favorite?(favorite_spot) %>
      <%= link_to spot_favorite_spot_path(spot, favorite_spot), method: :delete, id: "remove-favorite", remote: true do %>
        <i class="fa-solid fa-heart" id="remove-favorite-btn"></i>
      <% end %>
    <% else %>
      <%= link_to spot_favorite_spots_path(spot), method: :post, id: "add-favorite", remote: true do %>
        <i class="fa-regular fa-heart" id="add-favorite-btn"></i>
      <% end %>
    <% end %>
  <% else %>
    <i class="fa-regular fa-heart"></i>
  <% end %>
  <span><%= spot.favorite_spots.size %></span>
</div>
