<div class="favorite-spot-btn-wrap js-favorite-spot-post">
  <% if favorite?(favorite_spot) %>
    <%= link_to spot_favorite_spot_path(spot, favorite_spot), method: :delete, id: "remove-favorite", class: "mark-spot-btn button", remote: true do %>
      <i class="fa-solid fa-heart" id="remove-favorite-btn"></i>
    <% end %>
  <% else %>
    <%= link_to spot_favorite_spots_path(spot), method: :post, id: "add-favorite", class: "mark-spot-btn button", remote: true do %>
      <i class="fa-regular fa-heart" id="add-favorite-btn"></i>
    <% end %>
  <% end %>
</div>
