<%= link_to "マイページへ戻る", mypage_path %>

<% if @spots.present? %>
  <div class="registrated-spots">
    <h2>登録スポットの一覧</h2>
    <table>
      <thead>
        <tr>
          <th>スポット名</th>
          <th>住所</th>
          <th>スポットカテゴリー</th>
        </tr>
      </thead>
      <tbody>
        <% @spots.each do |spot| %>
        <tr>
          <td><%= link_to spot.name, spot_path(spot.id), class: "spot_detail" %></td>
          <td><%= spot.address %></td>
          <td><%= spot.category.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
