<h2>スポット登録内容の変更</h2>

<%= render "shared/error_messages", resource: @spot_register_form %>
<%= render "spots/shared/form", url: edit_confirm_spots_registration_path(@spot), method: :patch %>
<%= render "spots/shared/map_display", file: "spot/map_search_address" %>
