<div id="image-overlay">
  <%= image_tag blob, { id: "enlarged-image", alt: "拡大した画像", data: { blob_id: blob.id } } %>
  <i id="colse-enlarged-image" class="fa-solid fa-xmark"></i>
  <div class="image-prev-btn">
    <%= link_to "", remote: true do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="image-next-btn">
    <%= link_to "", remote: true do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </div>
  <div id="image-reaction">
    <%= render "like_images/shared/add_or_remove_image_like", blob: blob, like_image: like_image %>
  </div>
</div>
