<div id= "image-overlay" class="open-display-image">
  <%= image_tag blob, { id: "enlarged-image", alt: "拡大した画像", data: { blob_id: blob.id } } %>
  <i id="colse-enlarged-image" class="fa-solid fa-xmark"></i>
  <% if previous_blob %>
    <%= link_to spot_image_path(image_link_params_hash(blob: previous_blob, review_image_only: review_image_only)), remote: true do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  <% end %>
  <% if next_blob %>
    <%= link_to spot_image_path(image_link_params_hash(blob: next_blob, review_image_only: review_image_only)), remote: true do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  <% end %>
  <div id="post-like-image">
    <%= render "images/shared/add_or_remove_like_image", blob: blob %>
  </div>
</div>
