<div class="modal js-enlarged-image-modal open">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="js-enlarged-image-close-btn delete" aria-label="close"></div>
    </header>
    <section class="modal-card-body">
      <%= image_tag blob, { id: "js-enlarged-image", alt: "拡大した画像", data: { blob_id: blob.id } } %>
    </section>
    <footer class="modal-card-foot">
      <%= render "image_likes/shared/add_or_remove_image_like", blob: blob, image_like: image_like %>
    </footer>
  </div>
  <div class="image-prev-btn">
    <%= link_to "", remote: true do %>
      <i class="fa-solid fa-chevron-left js-prev-icon"></i>
    <% end %>
  </div>
  <div class="image-next-btn">
    <%= link_to "", remote: true do %>
      <i class="fa-solid fa-chevron-right js-next-icon"></i>
    <% end %>
  </div>
</div>
