<%= render "shared/flash_messages" %>
<%= render "shared/top_page_display/#{ who_signed_in? }_display" %>

<h3>お出かけスポットの検索</h3>
<%= render "searchs/shared/search_form", q: @q, categories: @categories, allowed_areas: @allowed_areas %>

<h3>エリア一覧</h3>
<% @regions.each do |region| %>
  <%= link_to region, controller: "searchs", action: "index", q: {or: { address_cont: set_prefecture_name(region) }} %>
<% end %>
