<div class="review-helpfulness-btn-wrap js-review-helpfulness-post" id="js-helpful-btn-<%= review.id %>">
  <%= link_to("", review_helpfulness_btn_path(review, review_helpfulness)) do %>
    <i class="fa-solid fa-thumbs-up review-helpfulness-icon"></i>
  <% end %>
  <span><%= review.reload.review_helpfulnesses_count %></span>
</div>
