html {
  overflow: auto;
  min-width: 250px;
}

// ボディ
body {
  min-height: 100vh;
  color: #333;
  line-height: 1.4;
  letter-spacing: .01em;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

a {
  color: #7d7474;
}

a:hover {
  color: #574a4a;
}

.button:hover {
  border-color: #dcdca9;
  color: #7a5555;
}

.button:focus {
  border-color: #fbab5d;
  color: #363636;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em #fbab5d8c;
}

.input:focus, .textarea:focus {
  border-color: #dcdca9;
  box-shadow: 0 0 0 0.125em rgba(106, 100, 48, 0.25);
}

.hero-body {
  padding: 0;
  margin-top: 70px;
}

.main-contents-wrap {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.flash-message {
  padding: 0.5rem;
}

.flash-notice {
  background-color: #ffee050d;
  color: #ffa605;
}

.flash-alert {
  background-color: #e112120d;
  color: #e11212;
}

.error-messages-wrap {
  margin-bottom: 1rem;
  color: #e11212;
  font-size: 15px;
}

.error-count {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.error-message-list-wrap {
  list-style: inside;
}

.page-link-wrap {
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
  display: inline-block;
}

.page-link-wrap i {
  color: #7a7a7a;
}

// ページ割
.pagination {
  margin-top: 3rem;
}

.page-num {
  border-radius: 50%;
}

.pagination-link.is-current {
  background-color: #b28d80;
  border-color: #b28d80;
}
