html {
  overflow: auto;
}

// ヘッダー
.navbar {
  background-color: beige;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar-brand {
  align-items: center;
}

// ヘッダー検索バー
.header-search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
} @media screen and (max-width: 600px) {
  .header-search-wrap {
    position: absolute;
    top: 52px;
    background-color: #fffff6;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .js-header-search-hidden {
    display: none !important;
  }
}

.header-search-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-search-form .input-bar {
  width: 245px;
} @media screen and (max-width: 600px) {
  .header-search-form .input-bar {
    width: 100%;
  }
}

.header-search-btn {
  color: #767676;
  background-color: #efefd7;
}

.search-form-open-btn {
  color: #a5a59f;
  position: absolute;
  right: 60px;
} @media screen and (min-width: 600px) {
  .search-form-open-btn {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .search-form-close-btn {
    display: none;
  }
}

.header-search-wrap .control .icon {
  top: auto;
} @media screen and (max-width: 600px) {
  .header-search-wrap .control .icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-search-wrap .control.has-icons-left .input {
    padding-left: 10px;
  }
}

.search-filter-open-btn {
  padding: 10px;
  position: relative;
}

// 検索条件数バッジ
.search-filter-open-btn[data-num="0"]::before  {
  display: none;
}

.search-filter-open-btn::before  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  content: attr(data-num);
  min-width: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 4px 5px 4px 4px;;
  font-size: 10px;
  font-weight: bold;
  background-color: #ff8d00;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  top: 8px;
  right: 1px;
  transform: translate(40%, -40%);
}

// ヘッダー検索フィルター
.js-search-filter-open {
  display: inherit;
}

.search-filter-wrap .modal-card-head, .search-filter-wrap .modal-card-foot {
  background-color: #f5f5e5;
}

.search-filter-btn {
  color: #685656;
}

.search-filter-wrap .modal-card-foot {
  justify-content: flex-end;
}

.options-wrap input {
  display: none;
}

.options-wrap label {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.options-wrap label:hover {
  border-color: beige;
}

.js-colored-option-btn {
  background-color: beige;
}

// ヘッダーロゴ
.navbar-logo {
  font-weight: 600;
  font-family: monospace;
  font-size: larger;
}

// ボディ
body {
  min-height: 100vh;
  color: #333;
  line-height: 1.4;
  letter-spacing: .01em;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

a {
  color: grey;
}

.hero-body {
  padding: 0;
}

.contents-wrap {
  margin-top: 80px;
}

.main-contents-wrap {
  padding: 0 3rem;
  width: 100%;
}
