.list-content {
  display: block;
  height: 400px;
} @media screen and (min-width: 600px) and (max-width: 1216px) {
  .list-content {
    display: flex;
    max-height: 370px;
  }
} @media screen and (min-width: 1216px) {
  .list-content {
    display: flex;
    height: 250px;
  }
}

.list-content:hover {
  border: 2px solid #dddad9;
}

.spot-images {
  background-color: #fafaf8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 25%;
} @media screen and (min-width: 600px) {
  .spot-images {
    width: 40%;
    height: 100%;
  }
}

.large-image {
  width: 100%;
  height: 85%;
} @media screen and (max-width: 600px) {
  .large-image {
    display: none;
  }
}

.large-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem 0 0 0;
}

.small-image {
  display: flex;
  width: 100%;
  height: 100%;
} @media screen and (min-width: 600px) {
  .small-image {
    height: 14%;
  }
}

.small-image img {
  width: 19%;
  height: 100%;
  object-fit: cover;
  margin-right: 3px;
}

.small-image img:first-child {
  border-radius: 0.25rem 0 0 0;
} @media screen and (min-width: 600px) {
  .small-image img:first-child {
    border-radius: 0 0 0 0.25rem;
  }
}

.spot-list-data {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} @media screen and (min-width: 600px) {
  .spot-list-data {
    width: 60%;
  }
}

.main-data {
  border-bottom: 1px solid #efefef;
} @media screen and (min-width: 600px) and (max-width: 1216px) {
  .main-data {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1216px) {
  .main-data .title {
    margin-bottom: 0.5rem;
  }
}

.main-data .breadcrumb {
  margin-top: 0.4rem;
} @media screen and (min-width: 600px) and (max-width: 1216px) {
  .main-data .breadcrumb {
    margin-left: 1rem;
  }
}

.main-data ul {
  margin-bottom: 0.5rem;
}

.main-data li {
  white-space: pre-wrap;
}

@media screen and (min-width: 1216px) {
  .detail-data {
    display: flex;
  }
}

.detail-data-rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} @media screen and (min-width: 1024px) {
  .detail-data-rightside {
    width: 100%;
  }
}

.count-wrap {
  display: flex;
  margin-bottom: 8px;
}

.favorite-count, .review-count {
  margin-right: 5px;
}

.count-wrap .favorite-icon {
  color: #ffb9b9;;
}

.review-count .review-icon {
  transform: scale(-1, 1);
  color: #63dbd5;
}

.view-count .view-icon {
  transform: scale(-1, 1);
  color: #e1d753;
}

.review-comment {
  padding: 10px;
  background: #eeeeee;
  height: fit-content;
}

.review-comment .title {
  margin-bottom: 5px
}

.review-comment .comment {
  font-size: small;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
} @media screen and (min-width: 1216px) {
  .review-comment .comment {
    -webkit-line-clamp: 2;
  }
}
