.main-contents-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  width: 100%;
  max-width: 800px;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
}

.account-form label {
  display: inline-block;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 600;
}

.input-bar {
  width: 100%;
}

.input-guide {
  font-size: 15px;
  margin-top: 5px;
}

.remember-me-checkbox {
  display: flex;
  align-items: center;
}

.remember-me-checkbox label {
  font-size: 14px;
  margin-left: 10px;
}

.account-btn {
  margin: 25px 0;
  min-width: 50%;
}

.account-btn input {
  width: 100%;
  background-color: #ffa762;
  border-color: #ffa762;
  color: #fff;
  font-weight: 600;
}

.account-help-links-wrap a {
  margin-bottom: 10px;
  display: inline-block;
}

.page-back-link-wrap {
  width: 100%;
  max-width: 800px;
}

.page-back-link-wrap i {
  color: #7a7a7a;
}
