.review-index-container {
  display: flex;
  padding-top: 1rem;
}

.main-contents-wrap {
  padding: 0 1rem;
}

.main-title {
  margin-top: 2rem;
}

.review-spot-name {
  display: inline-block;
  margin-top: 20px;
  color: #7d7474 !important;
}

.ratings-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
