<div class="hero-foot">
  <footer class="footer">
    <div class="content has-text-centered footer-content">
      <div>
        <div class="intro-wrap">
          <div class="footer-logo-wrap">
            <span class="fa fa-paw footer-logo-icon"></span>
            <h2 class="footer-logo">Wan Family</h2>
          </div>
          <h3 class="intro-title">家族みんなで出かけよう。</h3>
          <p>Wan Family<ワン・ファミリー>は、ワンちゃん・ペットとのお出かけメディアです。</p>
          <p>「家族みんなで出かけよう。」をコンセプトに、<br>ペットも連れていけるスポットの情報を、<br>保存、発信することができるサービスです。</p>
        </div>
        <div class="footer-contact-wrap">
          <span class="contact-label">お問い合わせ</span>
          <span><%= Rails.application.credentials.gmail[:gmail_address] %></span>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer-back-image"></div>
</div>
