<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-logo navbar-item">
          <%= link_to "Wan Family", root_path, title: "WanFamily[ワン・ファミリー] -ワンちゃん・ペットとのお出かけメディア-" %>
        </div>
        <%= render "shared/application/header_search_form", q: q, categories: categories, allowed_areas: allowed_areas, prefecture_hash: prefecture_hash %>
        <span class="icon is-small is-left search-form-open-btn js-trigger-search-form-open-btn">
            <i class="fas fa-search"></i>
        </span>
        <span class="navbar-burger burger js-trigger-burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <%= render "shared/application/navbar_links/#{ who_signed_in? }_links", class_name: "navbar-item" %>
          <%= link_to "スポットを登録する", new_spot_path, class: "navbar-item" %>
        </div>
      </div>
    </div>
  </header>
</div>
