.rating-box .main-rating .fa{
  font-size: 20px;
  color:rgba(128, 128, 128, 0.553);
  cursor: pointer;
}

.main-rating .dog-ratings .colored{
  color:#ff008487;
}

.main-rating .human-ratings .colored{
  color:#ffee05fe;
}

.main-rating .non-colored{
  color:rgba(128, 128, 128, 0.553);
}

.main-rating {
  display: flex;
}

.dog-rating-value-display .human-rating-value-display {
  font-size: 20px;
}

.preview-lists-display {
  display: none;
}

#preview {
  width: 100px;
  height: 100px;
}
