#map_search_spot {
  width: 100%;
  height: 850px;
}

.tag-overlay {
  background-color: #3f3e3edd;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.tag-overlay:nth-child(n) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#tag-list {
  max-width: 800px;
  min-height: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#tag-list ul {
  display: flex;
  flex-direction: column;
}

.tag-list-content {
  margin: 10px;
  height: auto;
  min-width: 450px;
  background-color: whitesmoke;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1.5;
  padding: 0.3em;
  white-space: nowrap;
  flex-direction: column;
  // align-items: flex-start;
}

.tag-bar {
  position: relative;
  display: flex;
  width: 100%;
}

.tag-name {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-btn {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

// .expand-tag-btn {
// }

// .edit-tag-btn {
// }

// .delete-tag-btn {
// }

.tag-list-icon {
  margin: 10px;
}

.fa-xmark {
  position: absolute;
  top: 8%;
  right: 8%;
  transform: scale(3, 3);
}

.display-memo {
  overflow: auto;
  white-space: normal;
  max-height: 400px;
}

.hidden-memo {
  display: none;
}

.open-memo {
  background-color: #ffffff;
  width: -webkit-fill-available;
  margin: 7px;
  padding: 5px;
}

.tag-form {
  padding: 8px;
}

.created-tag-name {
  display: flex;
  align-items: center;
}

.created-tag-name span {
  display: inline-block;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
