// 拡大画像
.enlarged-image-display {
  display: flex;
}

.enlarged-image-display .open {
  display: inherit;
}

.enlarged-image-display .modal-card {
  padding-top: 90px;
  max-width: 90%;
  max-height: 90%;
}

.enlarged-image-display .modal-card-head, .enlarged-image-display .modal-card-foot {
  justify-content: flex-end;
}

.enlarged-image-display .modal-card-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.prev-image-btn, .next-image-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
}

.prev-image-btn  {
  left: 8%;
}

.next-image-btn  {
  right: 8%;
}

// いいねボタン
.remove-like-image-btn {
  color: #e896c9cb;
}

.add-like-image-btn {
  color: #ded9d994;
}
