<div class="container">
  <div class="main-contents-wrap">
    <%= render "shared/page_link", link_hash: { "戻る": spot_reviews_path(@spot) } %>
    <div class="new-review-poster-form-wrap">
      <h2 class="new-review-main-title title is-5"><i class="fa-solid fa-pencil"></i><%= @spot.name %>のレビューを投稿する</h2>
      <%= render "reviews/shared/poster_form",
        resource: @review_poster_form,
        spot: @spot,
        url: spot_reviews_path(@spot),
        method: :post,
        dog_score: nil,
        human_score: nil
      %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "reviews/new" %>
