@media screen and (min-width: 800px) {
  .spot-body {
    display: flex;
  }
}

.top-articles-wrap {
  width: 100%;
} @media screen and (min-width: 800px) and (max-width: 1024px) {
  .top-articles-wrap {
    width: 70%;
  }
}

// ヘッダータブ
.top-tab-label a {
  background-color: #fff;
  border: 1px solid #dbdbdb !important;
  border-bottom-color: transparent !important;
}

.top-tab-label span {
  color: #ae937a;
}

// トップ画像ディスプレイ
.top-spot-images-wrap {
  background-color: #fafaf8;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} @media screen and (min-width: 800px) {
  .top-spot-images-wrap {
    flex-direction: row;
    width: 100%;
  }
}

.large-image {
  width: 100%;
  height: 90%;
} @media screen and (min-width: 800px) {
  .large-image {
    width: 91.5%;
    height: 100%;
  }
}

.large-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-image {
  display: flex;
  width: 100%;
  height: 9%;
} @media screen and (min-width: 800px) {
  .small-image {
    flex-direction: column;
    width: 8%;
    height: 100%;
  }
}

.small-image img {
  width: 10%;
  height: 100%;
  object-fit: cover;
} @media screen and (min-width: 800px) {
  .small-image img {
    width: 100%;
    height: 10%;
  }
}

@media screen and (min-width: 800px) {
  .small-image img:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .small-image img:not(:last-child) {
    margin-right: 5px;
  }
}

// トップのレビュー
.top-review-article h3 {
  margin-top: 4rem;
}

@media screen and (min-width: 600px) {
  .review-rating .ratings-wrap {
    display: flex;
  }
}

.article-link {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

// トップのスポット基本情報
.spot-data-table {
  border-collapse: inherit;
  font-size: 14px;
}

.spot-data-table th, .spot-data-table td {
  white-space: nowrap;
}

.spot-data-table .spot-rules-row {
  border-bottom: 1px solid #dbdbdb;
  display: grid;
}

// 右サイドコンテンツ
.right-contents-wrap {
  margin: 0 1rem;
} @media screen and (min-width: 1024px) {
  .right-contents-wrap {
    margin: 1rem;
  }
} @media screen and (min-width: 800px) and (max-width: 1024px) {
  .right-contents-wrap {
    position: absolute;
    top: 36rem;
    right: 0;
    width: 27%;
  }
} @media screen and (max-width: 800px) {
  .right-contents-wrap {
    margin: 1rem 1rem;
  }
}
