<div class="review-header media">
  <div class="media-left">
    <figure class="image is-48x48">
      <%= image_tag review.user.decorate.display_human_avatar %>
    </figure>
  </div>
  <div class="media-content">
    <p class="subtitle is-7"><%= review.user.name %>さんのレビュー</p>
    <p class="title is-5"><%= review.title %></p>
  </div>
  <div class="media-right">
    <%= render "review_helpfulnesses/shared/add_or_remove_review_helpfulness", review: review, spot: review.spot, review_helpfulness: review_helpfulness_by_user(review) %>
  </div>
</div>
