<p>※このメールは自動送信メールです。</p>

<p><%= @resource.name %> 様</p>

<p>パスワード再設定のリクエストを受け付けました。</p>
<p>以下のリンクから新しいパスワードをご登録ください。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※パスワード再設定のリクエストにお心当たりがない場合は、このメールを破棄してください。</p>
<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<p>※リンクの有効期限は6時間です。</p>
